body {
    background-color: #1e3259;
    margin: 0;
}

main {
    font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a 
{
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    }
    img {
        display: block; 
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .header-container {
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
        text-transform: uppercase;
        background-color: #0b1b3b;
        padding-top: 16px;
        padding-bottom: 12px;
        box-shadow: 20px 20px 50px 15px #377aff72;
        container: normal;
    }
.logo {
    color: #4b6cad;
    margin-left: 140px;
}

.main-container {
    padding-top: 64px; 
    padding-bottom: 64px;
}
.section-img {
    display:grid;
    justify-content: center;

}
.img-music-players {
    border-radius: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 21px;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 21px;
}
.snuffle-play {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
}
.play {
    height: 55px;
    width: 55px;
    border-radius: 100%;  
}
.other-buttons {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
}
.music-player-list-item-text {
    font-size: 40px;
    color: #b3ccff;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 0;
}
.song-list-item-container {
    background-color: #4664a1;
    display: flex;
}
.song-img {
    margin: 6px;
    margin-left: 21px;
    border-radius: 10%;
}
.all-songs-list {
    display: flex;
    flex-direction: column;
}
.song-name {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    margin-top: 18px;
    margin-left: 10px;
}



.footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #0b1b3b;
}