body {
    background-color: #1e3259;
    margin: 0;
}

main {
    font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-style: normal;
    font-size: 36px;
}
a {
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    }
    img {
        display: block; 
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .header-container {
        background-color: #0b1b3b;
        padding-top: 15px;
        padding-bottom: 10px;
        box-shadow: 21px 21px 55px 15px #377aff72;
        container: normal;
        display: flex;
        flex-direction: row;
    }
.logo {
            font-family: "Odibee Sans", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 70px;
                text-transform: uppercase;
    color: #4b6cad;
    margin-left: 110px;
}

.main-container {
    padding-top: 70px; 
    padding-bottom: 70px;
}
.album-and-music {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section-img {
    display:grid;
    justify-content: center;

}
.img-music-players {
    border-radius: 100%;
    width:330px;
     height:330px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 21px;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 21px;
}
.music-player-list-item-text {
    font-size: 40px;
    color: #b3ccff;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 0;
}
.song-list-item-container {
    background-color: #4664a1;
    display: flex;
}
.song-list-item-container:hover {
    animation-name: example;
    animation-duration:  0.6s;
    animation-fill-mode: forwards;
  }
  @keyframes example {
      from {background-color: #4664a1}
      to {background-color: #6a89c7;}
    }

.music-container {
    background-color: #6a89c7;
    padding: 21px;
    border-radius: 10%;
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-cover {
    width: 220px;
    height: 220px;
    border-radius: 15%;
}
.music-title {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0 0 0;
}
.artist-title {
font-size: 21px;
    font-weight: 500;
    margin: 0;
}
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
    margin-top: 36px;
}

.progress {
    background-color: #162950;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
.action-btn {
    background-color: #6a89c7;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}

.action-btn.action-btn-big {
    color: #dfdbdf;
    font-size: 30px;
}
.song-img {
    margin: 6px;
    margin-left: 21px;
    border-radius: 10%;
    width: 55px;
    height: 55px;
}
.all-songs-list {
    display: flex;
    flex-direction: column;
}
.song-name {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
}
.song-artist {

    display: flex;
    text-align: center;
    font-size: 15px;
        font-weight: 300;
        margin: 0;
        margin-top: 25px;
        margin-left: 55px;
        color: #0b1b3bef;
}


.footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #0b1b3b;
}

