body {
    background-color: #1e3259;
    margin: 0;
}

header {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    background-color: #0b1b3b;
    padding-top: 16px;
    padding-bottom: 16px;
}
main {
    font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
    font-size: 32px;
}
.logo {
    color: #4b6cad;
    margin-left: 32px;
}

.main-container {
    padding-top: 32px; 
    padding-bottom: 32px;
}
.music-player-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 64px;
}
.music-player-list-item-text {
    color: #b3ccff;
    text-align:center;
    margin: 0;
    
}
.music-player-list-item {
    
}
.footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #0b1b3b;
}