body {
    background-color: #1e3259;
    margin: 0;
}

main {
    font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 87.5;
    font-size: 32px;
}
a {
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    }
    img {
        display: block; 
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .header-container {
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
        text-transform: uppercase;
        background-color: #0b1b3b;
        padding-top: 16px;
        padding-bottom: 12px;
        box-shadow: 20px 20px 50px 15px #1c3c82;
    }
.logo {
    color: #4b6cad;
    margin-left: 124px;
}

.main-container {
    padding-top: 32px; 
    padding-bottom: 32px;
}
.music-player-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 124px;
    row-gap: 64px;
    margin-left: 124px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.img-music-players {
    border-radius: 16px;
    display: block;
}
.music-player-list-item-text {
    color: #b3ccff;
    text-align:center;
    margin: 2px 0px 0px 0px;
}
.footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #0b1b3b;
}